section {
  margin-bottom: 3rem;
}

.card-title {
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title .title {
  margin-right: 1.2rem;
}

.card-title span {
  text-decoration: underline;
  cursor: pointer;
  padding: .8rem 1.2rem;
}

.card {
  padding: 1.2rem 1.6rem;
  background-color: var(--white);
  border-radius: 8px;
}

.card h2 {
  margin-bottom: 1.6rem;
}

.card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}

.card .card-info h2 {
  color: var(--text);
}

.card .card-info .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-info:last-of-type {
  margin: 0;
}

.my-company h2 {
  margin: 0;
}

.scroll-card {
  min-width: 250px;
  max-width: 250px;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -.8rem;
}

.scroll-container .card {
  margin-right: 1.6rem;
}

#my-company {
  margin-top: 3.2rem;
}

.section-selector {
  margin-bottom: 3.2rem;
}

.section-selector .selector {
  color: var(--main-black);
  font-weight: 700;
  padding: 1.2rem 1.6rem;
  display: block;
  border: 2px solid var(--main-black);
  border-radius: 300px;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}

.coffee-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coffee-type .price-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee-type .price-element .dollar {
  margin-right: .4rem;
}

.CS-percentage {
  font-weight: 700;
}

.btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
  gap: .8rem;
}

.btn-container .btn__raise,
.btn-container .btn__low {
  width: 100%;
  text-align: center;
}

.btn-container .btn__raise {
  background-color: var(--secondary-shade);
}

.btn-container--horizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stock__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .4rem;
}

.my-shops .shop-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-shops .shop-value span {
  display: block;
}

.my-shops .shop-infos {
  margin-top: 2.4rem;
}

.my-shops .shop-infos--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-shops .shop-infos .shop-employees-section {
  margin: .8rem 0;
}

.my-shops .btn-container-all-items {
  margin-top: 2.4rem;
}

.my-shops .btn-container-all-items .btn-container .btn,
.my-shops .btn-container-all-items .btn-container .btn--secondary,
.my-shops .btn-container-all-items .btn-container .btn--secondary--primary-shade--secondary {
  width: 50%;
  padding: 1.2rem .4rem;
  font-size: 1rem;
  font-weight: 700;
}

.salaries .employee-type__employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.salaries .btn-container {
  margin-bottom: 3rem;
}

.salaries .sub {
  font-weight: 500;
}

.upgrades .btn {
  margin: 1.6rem 0 3.2rem 0;
}
/*# sourceMappingURL=game.css.map */