section {
  margin-bottom: 3rem;
}

.card-title {
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-title .title {
  margin-right: 1.2rem;
}

.card-title .form {
  width: 100%;
  margin: 1.6rem 0;
  height: 50px;
}

.card-title .form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-title .form .form-item input {
  height: 100%;
  min-width: 60%;
  padding: 1.6rem;
  border: none;
  border-radius: 8px 0 0 8px;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.card-title .form .form-item button {
  border: none;
  width: 40%;
  background-color: var(--secondary);
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.card-title span {
  text-decoration: underline;
  cursor: pointer;
  padding: .8rem 1.2rem;
}

.card {
  padding: 1.2rem 1.6rem;
  background-color: var(--white);
  border-radius: 8px;
}

.card h2 {
  margin-bottom: 1.6rem;
}

.card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}

.card .card-info h2 {
  color: var(--text);
}

.card .card-info .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-info:last-of-type {
  margin: 0;
}

.my-company h2 {
  margin: 0;
}

.my-company svg {
  width: clamp(1.8rem, 100vw, 2.4rem);
  height: clamp(1.8rem, 100vw, 2.4rem);
}

.scroll-card {
  min-width: clamp(250px, 100vw, 270px);
  max-width: clamp(250px, 100vw, 270px);
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -.8rem;
}

.scroll-container .card {
  margin-right: 1.6rem;
}

#my-company {
  margin-top: 3.2rem;
}

.section-selector {
  margin-bottom: 3.2rem;
}

.section-selector .selector {
  color: var(--main-black);
  font-weight: 700;
  padding: 1.2rem 1.6rem;
  display: block;
  border: 2px solid var(--main-black);
  border-radius: 300px;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
  font-size: clamp(1.1rem, 100vw, 1.4rem);
}

.coffee-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coffee-type .price-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee-type .price-element .dollar {
  margin-right: .4rem;
}

.coffee-satisfaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CS-percentage {
  font-weight: 700;
}

.btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
  gap: .8rem;
}

.btn-container .btn__raise,
.btn-container .btn__low {
  width: 100%;
  text-align: center;
}

.btn-container .btn__raise {
  background-color: var(--secondary-shade);
}

.btn-container--horizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stock__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .4rem;
}

.my-shops .shop-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-shops .shop-value span {
  display: block;
}

.my-shops .shop-infos {
  margin-top: 2.4rem;
}

.my-shops .shop-infos--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: clamp(0.1rem, 100vh, 0.4rem);
}

.my-shops .shop-infos .shop-employees-section {
  margin: .8rem 0;
}

.my-shops .btn-container-all-items {
  margin-top: 2.4rem;
}

.my-shops .btn-container-all-items .btn-container .btn,
.my-shops .btn-container-all-items .btn-container .btn--secondary,
.my-shops .btn-container-all-items .btn-container .btn--secondary--primary-shade--secondary {
  width: 50%;
  padding: 1.2rem .4rem;
  font-size: 1rem;
  font-weight: 700;
}

.salaries .employee-type__employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.salaries .btn-container {
  margin-bottom: 3rem;
}

.salaries .sub {
  font-weight: 500;
}

.upgrades h2 {
  margin-bottom: .4rem;
}

.upgrades .btn {
  margin: 1.6rem 0 4.8rem 0;
}

.danger-zone {
  margin: 6rem 0;
}

footer {
  width: 100%;
  padding: 0 0 12rem 0;
  text-align: center;
}

footer .copyright {
  margin-bottom: 2.4rem;
}

.burger {
  background-color: var(--main-black);
  border-radius: 50%;
  background-image: url(/assets/icons/navbar-default.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 3.2rem;
  right: 1.2rem;
  cursor: pointer;
  z-index: 100;
}

.close {
  background-image: url(/assets/icons/close.png);
  background-size: 15px;
}

.navbar {
  position: fixed;
  bottom: 3.2rem;
  right: 1.2rem;
  background-color: var(--main-black);
  opacity: .95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 55px;
  padding: 0 .2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 300px;
  max-height: 3000px;
  overflow: hidden;
  -webkit-transition: max-height 600ms ease-out, opacity 300ms ease-out;
  transition: max-height 600ms ease-out, opacity 300ms ease-out;
}

.navbar img {
  width: 15px;
}

.navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem .8rem;
}

.navbar .nav-item span {
  margin-bottom: .4rem;
}

.nav-closed {
  max-height: 0px;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: max-height 300ms cubic-bezier(1, 0, 0.53, 1), opacity 600ms ease-in, -webkit-transform 300ms ease-in 100ms;
  transition: max-height 300ms cubic-bezier(1, 0, 0.53, 1), opacity 600ms ease-in, -webkit-transform 300ms ease-in 100ms;
  transition: max-height 300ms cubic-bezier(1, 0, 0.53, 1), opacity 600ms ease-in, transform 300ms ease-in 100ms;
  transition: max-height 300ms cubic-bezier(1, 0, 0.53, 1), opacity 600ms ease-in, transform 300ms ease-in 100ms, -webkit-transform 300ms ease-in 100ms;
}

.nav-item:first-child {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  cursor: pointer;
}

.nav-item:last-of-type {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.restart-game-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: .8rem;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.4rem;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.restart-game-modal h3 {
  margin-bottom: 2.4rem;
}

.restart-game-modal .btn-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restart-game-modal .btn-container .btn--restart {
  background-color: var(--danger);
}

.closed {
  opacity: 0;
  -webkit-transform: translate(-50%, 1000px);
          transform: translate(-50%, 1000px);
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=game.css.map */