@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Mono:wght@400;500;700&display=swap');



:root {
    font-size: 10px;

    --bg: #F3E6D8;
    --white: white;
    --text: #616161;
    --main-black: #333333;
    --primary-shade: #61340B;
    --primary: #AD6624;
    --primary-light: #FAA14D;
    --secondary-shade: #014D61;
    --secondary: #2491AD;
    --secondary-light: #4DD7FA;
    --success: #1FAD3E;
    --neutral: #FF9C06;
    --danger: #D40000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////

body {
    background-color: var(--bg);
    font-family: 'Roboto Mono';
    padding-left: clamp(.8rem, 100%, 1.6rem);
    padding-right: clamp(.8rem, 100%, 1.6rem);
}


a {
    text-decoration: none;
}

////////////////////////////////////////////////////////////////////////////

.bodyText {
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--main-black);
}

.mainBlack {
    color: var(--main-black);
}

.sub {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--main-black);
}

.title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2rem;
    color: var(--main-black);
}

.title-2 {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 2.6rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 1.4rem;
    font-family: 'Roboto Mono';
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 200px;
    cursor: pointer;
    text-align: center;
}

.btn--secondary {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: var(--secondary);
    font-size: 1.4rem;
    font-family: 'Roboto Mono';
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 200px;
    border: 2px solid var(--secondary);
    //to put borders inside of element
    box-sizing: padding-box;
    cursor: pointer;
}

.primary-shade{
    background-color: var(--primary-shade);
}

.primary-shade--secondary{
    border-color: var(--primary-shade);
    color: var(--primary-shade);
}

.bolder{
    font-weight: 700;
}

.danger{
    color: var(--danger);
}

.neutral{
    color: var(--neutral);
}

.grey{
    color: var(--text);
}

.disabled{
    opacity: 0.5;
    cursor: none;
}
////////////////////////////////////////////////////////////////////////////


header {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 30px;

    .logo {
        width: 40%;
        background-image: url(/assets/icons/coffee_empire-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

}